@import url('https://fonts.cdnfonts.com/css/avenir-lt-std');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  background-color: #E2E1DB;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: overlay;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul, label, p, h1, h2, h3, h4, h5 ,h6, small{
  font-family: 'Avenir LT Std', sans-serif;
  color: white;
}
small{
  font-size: 0.625rem;
  font-weight: 350;
}
p{
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 14px;
}
h1, h2, h3, h4, h5 ,h6{
  font-weight: 700;
}
h1{
  font-size: 2.5rem;
  letter-spacing: -2px;
  line-height: 48px;
  font-weight: 750;
}
h2,h3{
  font-size: 2.188rem;
  line-height: 42px;
}
h3{
  font-weight: 400;
}
h4{
  font-size: 0.938rem;
  line-height: 18px;
}
h2{
  font-weight: bolder;
}
.custom-container{
  display: grid;
  width: 100%;
  padding: 5em 2em 4.25em 2em;
  box-sizing: border-box;
}
.custom-input , .custom-area{
  outline: none;
  border: 0.5px solid white;
  border-radius: 0.25rem;
  background-color: #e2e1db5d;
  color: white;
  padding:8px 12px;
}
.transparent-btn{
  background-color: transparent;
  border: 0.5px solid white;
  border-radius: 0.25rem;
  box-sizing: border-box;
  color: white;
  padding: 0.75em 1.25em;
  font-size: 1rem;
  font-weight: 800;
  line-height: 14px;
  cursor: pointer;
}
.custom-area{
  resize: none;
}
@media only screen and (min-width: 768px) {
  h1{
    font-size: 3.75rem;
    line-height: 72px;
  }
  p{
    font-size: 0.75rem;
    line-height: 14px;
  }
  h2,h3{
    font-size: 2.5rem;
    line-height: 48px;
  }
} 

@media only screen and (min-width: 1024px) {
  h1{
    font-size: 5rem;
    line-height:96px;
  }
  p{
    font-size: 1rem;
    line-height: 19px;
  }
  .custom-container{
    display: grid;
    width: 100%;
    max-width: 960px;
    padding: 5em 0 4.25em 0;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .custom-input , .custom-area{
    padding:8px 12px;
  }
} 

@media only screen and (min-width: 1280px) {
  h1{
    font-size: 6.25rem;
    line-height: 120px;
  }
  h2,h3{
    font-size: 3.125rem;
    line-height: 48px;
  }
} 
@media only screen and (min-width: 1536px) {
  
}
